*{
    margin: 0;
}
a{
    margin-right: 30%;
}
h3{
    text-align: top;
}
td,th{
    border: 1px solid rgb(254, 252, 252);
    padding: 8px;
    text-align: center;
    border-collapse: collapse;
    background-color: #2b32352c;
}
table{
    width: 40vw;
    border: 1px solid rgb(253, 251, 251);
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: aqua;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(40, 4, 4, 0.841);
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: flex;
    color: aqua;
    padding: 1.5vw;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(244, 23, 7);
    display: inline-block;
}
.container{
    display: inline-grid;
    grid-template-columns: 33vw 33vw 33vw;
}
.container h3,p{
    margin: 10vw;
    padding: 10vw;
}
.container :hover{
    background-color: rgb(7, 206, 139);
}
p{
    margin: 1vw;
}